<!DOCTYPE html>
<html>
    <head>
        <title>Paper Posts</title>

        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/main.css" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic' rel='stylesheet' type='text/css'>

    </head>
    <body>

      <div class="container">

        <a href="/posts"><div id="logo"></div></a>
          <div class="all_posts">
            <% if (posts.length) { %>
                <% for (var i in posts) { %>
                    <p class="post_title"><a href="/posts/<%= posts[i].title %>"><%= posts[i].title %></a></p>
                    <p class="post_date">Created <%= posts[i].date %></post>
                <% } %>
            <% } else { %>
            <p>There are no posts yet. Click the button below to create a new post.</p>
            <% } %>

          </div>


        <div class="button new_post"><a href="/post/new">New Post</a></div>

      </div>

      <div id="list_footer">
        <div id="footer">
          This content management system was developed for J583 advanced web programming at the University of North Carolina.
        </div>
      </div>

    </body>
</html>
