body {
  background-image: url('/images/dark_embroidery.png');
  /* Background pattern from subtlepatterns.com */
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 60%;
  background-color: white;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 20px;
  min-height: 500px;
  padding: 30px;
}

#logo {
  background-image: url('/images/paper.png');
  background-position: top left;
  background-repeat: no-repeat;
  width: 100%;
  height: 75px;
  border-bottom: 4px double #4f4f4f;
  margin-bottom: 10px;
}

#logo:hover {
  background-image: url('/images/paper_hover.png');
  cursor: pointer;
}

.single_post {
  padding: 10px 0;
  border-bottom: 1px dashed #4f4f4f;
  margin-bottom: 20px;
}

.button {
  margin: 20px 10px 0 0;
  padding: 5px;
  background-color: #4f4f4f;
  text-transform: uppercase;
  text-align: center;
  width: 110px;
  border-radius: 5px;
  display: inline-block;
  color: white;
}

.button a {
  color: white;
}

.button a:hover {
  text-decoration: none;
}

.button a:active {
  text-decoration: none;
}

.button:hover {
  background-color: #bbb;
  cursor: pointer;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  padding-bottom: 0;
  margin-top: 0;
}

h2 {
  font-size: .85em;
  line-height: .1em;
  text-transform: uppercase;
  color: #4f4f4f;
  padding-top: 0;
  margin-bottom: 2em;
}

h3 {
  font-size: .7em;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  font-size: 1.5em;
  margin-top: 1em;
}

.image {
  width: 400px;
  margin-bottom: 1em;
}

.post_title {
  font-size: 2em;
  font-weight: 300;
}

.post_title a {
  color: black;
}

.post_title a:hover {
  color: #bbb;
  text-decoration: none;
  border-bottom: 1px solid #4f4f4f;
}

.post_date {
  text-transform: uppercase;
  color: #bbb;
  font-weight: 700;
  line-height: .1em;
  margin-bottom: 2em;
}

#edit_post {
  display: none;
  margin-top: 2em;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  color: white;
  margin-top: 20px;
}

.update {
  margin: 0;
}

.content_input {
  height: 300px;
  overflow-y: scroll;
}

.modal-backdrop {
    z-index: -10;
}

.modal {
  z-index: 25;
  text-align: center;
}

.modal-footer {
  text-align: center;
  padding-top: 0;
}

.go_back {
  margin-right: 0;
  color: #4f4f4f;
  background-color: white;
  border: 1px solid #4f4f4f;
}

.go_back:hover {
  color: white;
  border: 1px solid #bbb;
}

.date_picker {
  width: 180px;
}
